[Unit]
Description=Apache Kafka Server
Documentation=http://kafka.apache.org/documentation.html
Requires=zookeeper.service

[Service]
Type=simple
ExecStart=/opt/kafka_2.12-2.6.1/bin/kafka-server-start.sh /opt/kafka_2.12-2.6.1/config/server.properties
ExecStop=/opt/kafka_2.12-2.6.1/bin/kafka-server-stop.sh

[Install]
WantedBy=multi-user.target

